#main-layout-bg {
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

#top-controls {
    position: absolute;
    top: 0;
}

#btm-controls {
    position: absolute;
    bottom: 0;
}

.controls {
    left: 0;
    right: 0;
    height: 8%;
    background-color: rgb(255, 95, 95);
}
